body {
    display: flex;
    flex-direction: column;
}

h2 {
    max-width: 175px;
    height: 32px;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

ul { 
    list-style: none;
}

#categories {
    display: flex;
    flex-direction: column; 
    list-style: none;
  }

#item {
    display: flex;
    flex-direction: column; 
    min-width: 392px;
    height: 264px;
    padding: 16px;
    background: #F6F6FE;
    margin-bottom: 24px; 
  }

  li {
    justify-content: left;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04em;
    max-width: 360px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 8px;
    padding-left: 16px;
  }